name: Node.js CI

on:
    push:
        branches:
            - "master"

jobs:
    test:
        runs-on: ubuntu-latest
        env:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            AWS_BUCKET_NAME: ${{ secrets.AWS_BUCKET_NAME }}
            AWS_REGION: ${{ secrets.AWS_REGION }}
            PORT: ${{ secrets.PORT }}
            SAMPLE_IMAGE_URLS: ${{ secrets.SAMPLE_IMAGE_URLS }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "22"

            - name: Install dependencies
              run: npm install

            - name: Run tests
              run: npm test
